
body {
    background-color: blueviolet;
    margin: 0;
}

.First-block {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.Flexbox-item-1 {
    height: 160px;
    width: 468px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    border-radius: 10px;
}

.Flexbox-item-2 {
    height: 160px;
    width: 468px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;

}

.Flexbox-item-3 {
    height: 160px;
    width: 468px;
    background-color: aliceblue;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
}

.Flexbox-item-4 {
    height: 160px;
    width: 468px;
    background-color: aliceblue;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
}

.Flexbox-item-5 {
    height: 160px;
    width: 468px;
    background-color: aliceblue;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
}

.Flexbox-item-6 {
    height: 160px;
    width: 468px;
    background-color: aliceblue;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
}

